In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE

In [ ]:
pip install scanpy

Collecting scanpy
  Downloading scanpy-1.9.1-py3-none-any.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 5.3 MB/s
Collecting umap-learn>=0.3.10
  Downloading umap-learn-0.5.2.tar.gz (86 kB)
     |████████████████████████████████| 86 kB 5.1 MB/s
Collecting session-info
  Downloading session_info-1.0.0.tar.gz (24 kB)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.3.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from scanpy) (4.63.0)
Collecting matplotlib>=3.4
  Downloading matplotlib-3.5.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 31.5 MB/s
Requirement already satisfied: importlib_metadata>=0.7 in /usr/local/lib/python3.7/dist-packages (from scanpy) (4.11.3)
Requirement already satisfied: numba>=0.41.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.51.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from scanpy) (21.3)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.0.2)
Requirement already satisfied: natsort in /usr/local/lib/python3.7/dist-packages (from scanpy) (5.5.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.11.2)
Requirement already satisfied: statsmodels>=0.10.0rc2 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.10.2)
Requirement already satisfied: networkx>=2.3 in /usr/local/lib/python3.7/dist-packages (from scanpy) (2.6.3)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.5.2)
Requirement already satisfied: scipy>=1.4 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.4.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.1.0)
Requirement already satisfied: h5py>=3 in /usr/local/lib/python3.7/dist-packages (from scanpy) (3.1.0)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.21.5)
Collecting anndata>=0.7.4
  Downloading anndata-0.8.0-py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 5.0 MB/s
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7.4->scanpy) (3.10.0.2)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=3->scanpy) (1.5.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib_metadata>=0.7->scanpy) (3.7.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (1.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (3.0.7)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (7.1.2)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.32.0-py3-none-any.whl (900 kB)
     |████████████████████████████████| 900 kB 43.6 MB/s
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.41.0->scanpy) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.41.0->scanpy) (57.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->scanpy) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib>=3.4->scanpy) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->scanpy) (3.1.0)
Collecting pynndescent>=0.5
  Downloading pynndescent-0.5.6.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 46.0 MB/s
Collecting stdlib_list
  Downloading stdlib_list-0.8.0-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 2.1 MB/s
Building wheels for collected packages: umap-learn, pynndescent, session-info
  Building wheel for umap-learn (setup.py) ... done
  Created wheel for umap-learn: filename=umap_learn-0.5.2-py3-none-any.whl size=82708 sha256=0d1261464c2f272ec16d2f891f3cb6e7d11dc597693a115652a7457268f10865
  Stored in directory: /root/.cache/pip/wheels/84/1b/c6/aaf68a748122632967cef4dffef68224eb16798b6793257d82
  Building wheel for pynndescent (setup.py) ... done
  Created wheel for pynndescent: filename=pynndescent-0.5.6-py3-none-any.whl size=53943 sha256=975e8ddafc7194929ded7498b0f28860dcb74b79e5799a128d2eabd2ef9e7bce
  Stored in directory: /root/.cache/pip/wheels/03/f1/56/f80d72741e400345b5a5b50ec3d929aca581bf45e0225d5c50
  Building wheel for session-info (setup.py) ... done
  Created wheel for session-info: filename=session_info-1.0.0-py3-none-any.whl size=8048 sha256=de1953ab9d870948ad773b1f431c0e6fb1015c1fdfe360cb34eafa9dd12d0e52
  Stored in directory: /root/.cache/pip/wheels/bd/ad/14/6a42359351a18337a8683854cfbba99dd782271f2d1767f87f
Successfully built umap-learn pynndescent session-info
Installing collected packages: fonttools, stdlib-list, pynndescent, matplotlib, umap-learn, session-info, anndata, scanpy
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed anndata-0.8.0 fonttools-4.32.0 matplotlib-3.5.1 pynndescent-0.5.6 scanpy-1.9.1 session-info-1.0.0 stdlib-list-0.8.0 umap-learn-0.5.2

In [ ]:
pip install scanpy

Requirement already satisfied: scanpy in /usr/local/lib/python3.7/dist-packages (1.9.1)
Requirement already satisfied: anndata>=0.7.4 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.8.0)
Requirement already satisfied: h5py>=3 in /usr/local/lib/python3.7/dist-packages (from scanpy) (3.1.0)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.5.2)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.0.2)
Requirement already satisfied: numba>=0.41.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.51.2)
Requirement already satisfied: matplotlib>=3.4 in /usr/local/lib/python3.7/dist-packages (from scanpy) (3.5.1)
Requirement already satisfied: numpy>=1.17.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.21.5)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from scanpy) (21.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.1.0)
Requirement already satisfied: scipy>=1.4 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.4.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.3.5)
Requirement already satisfied: session-info in /usr/local/lib/python3.7/dist-packages (from scanpy) (1.0.0)
Requirement already satisfied: natsort in /usr/local/lib/python3.7/dist-packages (from scanpy) (5.5.0)
Requirement already satisfied: importlib_metadata>=0.7 in /usr/local/lib/python3.7/dist-packages (from scanpy) (4.11.3)
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.11.2)
Requirement already satisfied: umap-learn>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.5.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from scanpy) (4.63.0)
Requirement already satisfied: networkx>=2.3 in /usr/local/lib/python3.7/dist-packages (from scanpy) (2.6.3)
Requirement already satisfied: statsmodels>=0.10.0rc2 in /usr/local/lib/python3.7/dist-packages (from scanpy) (0.10.2)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from anndata>=0.7.4->scanpy) (3.10.0.2)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=3->scanpy) (1.5.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib_metadata>=0.7->scanpy) (3.7.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (7.1.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (3.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (1.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (4.32.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.4->scanpy) (0.11.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba>=0.41.0->scanpy) (57.4.0)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.41.0->scanpy) (0.34.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->scanpy) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7->matplotlib>=3.4->scanpy) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->scanpy) (3.1.0)
Requirement already satisfied: pynndescent>=0.5 in /usr/local/lib/python3.7/dist-packages (from umap-learn>=0.3.10->scanpy) (0.5.6)
Requirement already satisfied: stdlib-list in /usr/local/lib/python3.7/dist-packages (from session-info->scanpy) (0.8.0)

In [ ]:
import scanpy as sc
adata = sc.read_h5ad('train_pbmc.h5ad')
adata

/usr/local/lib/python3.7/dist-packages/anndata/compat/__init__.py:235: FutureWarning: Moving element from .uns['neighbors']['distances'] to .obsp['distances'].

This is where adjacency matrices should go now.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/anndata/compat/__init__.py:235: FutureWarning: Moving element from .uns['neighbors']['connectivities'] to .obsp['connectivities'].

This is where adjacency matrices should go now.
  FutureWarning,

AnnData object with n_obs × n_vars = 16893 × 6998
    obs: 'condition', 'n_counts', 'n_genes', 'mt_frac', 'cell_type'
    var: 'gene_symbol', 'n_cells'
    uns: 'cell_type_colors', 'condition_colors', 'neighbors'
    obsm: 'X_pca', 'X_tsne', 'X_umap'
    obsp: 'distances', 'connectivities'

In [ ]:
df_obs=sc.get.obs_df(adata,keys=['condition', 'n_counts', 'n_genes', 'mt_frac', 'cell_type'])
df_obs.head()

                              condition  n_counts  n_genes  mt_frac  cell_type
index
AAACATACCAAGCT-1-stimulated  stimulated    1160.0      589      0.0         NK
AAACATACCCCTAC-1-stimulated  stimulated    1729.0      795      0.0  Dendritic
AAACATACCCGTAA-1-stimulated  stimulated    1360.0      585      0.0       CD4T
AAACATACCCTCGT-1-stimulated  stimulated    1442.0      732      0.0          B
AAACATACGAGGTG-1-stimulated  stimulated    1237.0      546      0.0       CD4T

In [ ]:
df_var=sc.get.var_df(adata,keys=['gene_symbol', 'n_cells'])
df_var.head(30)
#どうやら、このidxが遺伝子名っぽい

                 gene_symbol  n_cells
index
AL627309.1        AL627309.1        8
RP11-206L10.9  RP11-206L10.9       11
LINC00115          LINC00115      118
NOC2L                  NOC2L     1930
KLHL17                KLHL17       28
HES4                    HES4     2779
ISG15                  ISG15    17561
TNFRSF18            TNFRSF18     1511
TNFRSF4              TNFRSF4     1379
SDF4                    SDF4     2332
B3GALT6              B3GALT6      249
PUSL1                  PUSL1      404
GLTPD1                GLTPD1      436
MXRA8                  MXRA8        5
RP4-758J18.2    RP4-758J18.2      910
MRPL20                MRPL20     4571
ATAD3C                ATAD3C       17
AL645728.1        AL645728.1       79
RP11-345P4.9    RP11-345P4.9      265
MIB2                    MIB2      614
MMP23B                MMP23B       31
CDK11A                CDK11A     1154
PRKCZ                  PRKCZ      147
RP3-395M20.12  RP3-395M20.12      283
RP3-395M20.9    RP3-395M20.9       84
FAM213B              FAM213B      127
MMEL1                  MMEL1       21
TTC34                  TTC34       14
RP11-46F15.2    RP11-46F15.2        8
TP73-AS1            TP73-AS1       93

In [ ]:
df_obs.shape

(16893, 5)

In [ ]:
df_var.shape

(6998, 2)

In [ ]:
adata.X.shape

(16893, 6998)

In [ ]:
df_obs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16893 entries, AAACATACCAAGCT-1-stimulated to TTTGCATGGTCCTC-1-control
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   condition  16893 non-null  category
 1   n_counts   16893 non-null  float32
 2   n_genes    16893 non-null  int64
 3   mt_frac    16893 non-null  float32
 4   cell_type  16893 non-null  category
dtypes: category(2), float32(2), int64(1)
memory usage: 945.4+ KB

In [ ]:
df_obs.index.value_counts()

AAACATACCAAGCT-1-stimulated    1
CAAACTCTAGCATC-1-control       1
CAAACTCTTCGTAG-1-control       1
CAAACTCTTGGTGT-1-control       1
CAAACTCTTTACCT-1-control       1
                              ..
GCCTAGCTCTCGCT-1-stimulated    1
GCCTAGCTGCATAC-1-stimulated    1
GCCTAGCTGCTCCT-1-stimulated    1
GCCTAGCTGGAAGC-1-stimulated    1
TTTGCATGGTCCTC-1-control       1
Name: index, Length: 16893, dtype: int64

In [ ]:
df_var.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6998 entries, AL627309.1 to S100B
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gene_symbol  6998 non-null   category
 1   n_cells      6998 non-null   int64
dtypes: category(1), int64(1)
memory usage: 693.8+ KB

In [ ]:
df_var['n_cells'].mean()

1123.5138611031723

In [ ]:
adata.to_df().to_csv('./adata.csv', sep=',')

In [ ]:
df=pd.read_csv('adata.csv')
df.head()

,index,AL627309.1,RP11-206L10.9,LINC00115,NOC2L,KLHL17,HES4,ISG15,TNFRSF18,TNFRSF4,...,C21orf67,FAM207A,ADARB1,POFUT2,COL18A1,SLC19A1,COL6A2,FTCD,DIP2A,S100B
0,AAACATACCAAGCT-1-stimulated,0.0,0.0,0.0,0.0,0.0,0.0,3.206646,0.947689,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,AAACATACCCCTAC-1-stimulated,0.0,0.0,0.0,0.0,0.0,0.0,3.314060,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,AAACATACCCGTAA-1-stimulated,0.0,0.0,0.0,0.0,0.0,0.0,2.344876,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,AAACATACCCTCGT-1-stimulated,0.0,0.0,0.0,0.0,0.0,0.0,2.292093,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,AAACATACGAGGTG-1-stimulated,0.0,0.0,0.0,0.0,0.0,0.0,2.430965,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.shape

(16893, 6999)

前処理　
この箇所に関しては、多くは『実験医学別冊
独習　Pythonバイオ情報解析』を参照

In [ ]:
df_data=df.copy()
col=['index']
df_data=df_data.drop(columns=df.columns[[0]])
df_data=df_data.astype(int)
df_data.head()

,AL627309.1,RP11-206L10.9,LINC00115,NOC2L,KLHL17,HES4,ISG15,TNFRSF18,TNFRSF4,SDF4,...,C21orf67,FAM207A,ADARB1,POFUT2,COL18A1,SLC19A1,COL6A2,FTCD,DIP2A,S100B
0,0,0,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_data.T

,1,2,3,4,5,6,7,8,9,10,...,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937
A1BG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A1CF,4,0,0,0,0,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
A2M,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
A2ML1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A4GALT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZYG11B,0,1,0,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
ZYX,2,4,0,3,1,1,1,1,2,0,...,0,0,0,0,0,0,0,0,1,0
ZZEF1,0,0,0,1,0,1,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
ZZZ3,0,1,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
pk,1,0,0,0,1,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_data_T=df_data.T
print('Total', len(df_data_T), 'genes, ', len(df_data_T.columns), 'cells')

Total 6998 genes,  16893 cells

In [ ]:
counts = df_data_T.values.sum(axis=0)
n_genes = (df_data_T.values > 0.0).astype(int).sum(axis=0)

In [ ]:
genes_zero_values = df_data_T.index[df_data_T.values.sum(axis=1) == 0]
# genes_zero_valuesに該当する行をすべて削除する
df_data_T.drop(genes_zero_values, inplace=True)

In [ ]:
n_genes = (df_data_T.values > 0.0).astype(int).sum(axis=0)
# counts, n_genesはどちらも細胞の数だけ要素を持つリストなので，
# 最大値（max），最小値（min），平均値（average）を出力してみる
print('Stats for counts: max=', np.max(counts),
      'min=', np.min(counts),
      f'average= {np.average(counts):.2f}')
print('Stats for detected genes: max=', np.max(n_genes),
      'min=', np.min(n_genes),
      f'average= {np.average(n_genes):.2f}')

Stats for counts: max= 378 min= 37 average= 99.55
Stats for detected genes: max= 362 min= 19 average= 72.75

In [ ]:
df_data.shape

(16893, 6998)

In [ ]:
df_anno=df.copy()
#col=['cell','barcode','assigned_cluster']
df_anno=df_anno.loc[:, col]
print(df_anno.shape)
df_anno.head()

(16893, 1)

                         index
0  AAACATACCAAGCT-1-stimulated
1  AAACATACCCCTAC-1-stimulated
2  AAACATACCCGTAA-1-stimulated
3  AAACATACCCTCGT-1-stimulated
4  AAACATACGAGGTG-1-stimulated

In [ ]:
df_anno.T

,0,1,2,3,4,5,6,7,8,9,...,16883,16884,16885,16886,16887,16888,16889,16890,16891,16892
index,AAACATACCAAGCT-1-stimulated,AAACATACCCCTAC-1-stimulated,AAACATACCCGTAA-1-stimulated,AAACATACCCTCGT-1-stimulated,AAACATACGAGGTG-1-stimulated,AAACATACGCGAAG-1-stimulated,AAACATACGTCGTA-1-stimulated,AAACATACTCAGGT-1-stimulated,AAACATTGACCTGA-1-stimulated,AAACATTGACTTTC-1-stimulated,...,TTTCTACTGGTCTA-1-control,TTTCTACTTGACCA-1-control,TTTGACTGAAGCAA-1-control,TTTGACTGAGTCGT-1-control,TTTGACTGCCGCTT-1-control,TTTGACTGGCGGAA-1-control,TTTGACTGTCGTAG-1-control,TTTGACTGTTACCT-1-control,TTTGCATGCTTCGC-1-control,TTTGCATGGTCCTC-1-control

通常行われる正規化処理を行う

In [ ]:
normalized = 10000 * df_data_T.values / df_data_T.values.sum(axis=0)
lognormalized = np.log1p(normalized)
df_lognormalized = pd.DataFrame(lognormalized, index=df_data_T.index, columns=df_data_T.columns)
df_lognormalized.head()

,0,1,2,3,4,5,6,7,8,9,...,16883,16884,16885,16886,16887,16888,16889,16890,16891,16892
AL627309.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
RP11-206L10.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
LINC00115,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NOC2L,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
KLHL17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

PCA

In [ ]:
from sklearn.decomposition import PCA
X_pca=PCA(n_components=500).fit_transform(df_lognormalized.values.T)

# 表示
print('X_pca shape:{}'.format(X_pca.shape))

X_pca shape:(16893, 500)

In [ ]:
num=[]
result = []
for num in range(500):
  num='pc'+str(num)
  result.append(num)

In [ ]:
newvalue = pd.DataFrame(X_pca)
newvalue.columns =result
newvalue.head()

,pc0,pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8,pc9,...,pc490,pc491,pc492,pc493,pc494,pc495,pc496,pc497,pc498,pc499
0,-4.060926,-4.106551,-4.368974,2.699495,10.385949,-3.066653,3.190943,4.091165,0.119926,-2.718631,...,0.020199,-0.141951,-0.421585,0.209843,0.790887,-0.904045,0.187374,-0.006270,-0.246982,0.273575
1,1.355928,-4.655720,4.667211,6.156312,2.663843,-1.369125,3.887770,-6.009787,-2.361762,-1.588529,...,1.519080,-0.034008,-0.702975,-0.289209,-0.712858,1.252983,0.761244,-1.731307,1.012306,0.297282
2,-11.729312,-3.314318,-1.595046,-6.010673,-1.686719,-0.238836,0.093309,-2.806677,2.242280,-0.818826,...,-0.753271,-0.457164,1.312200,0.058536,0.448560,0.614526,-0.485531,-0.345193,0.596622,1.060355
3,-5.305335,-4.500135,7.790894,1.545393,-0.034541,-0.702565,5.535621,-3.337313,-4.705793,-0.298493,...,-0.022704,0.531683,-0.399320,-0.379326,-0.169343,0.915215,0.136550,-0.085043,-0.496342,0.609925
4,-11.909915,-3.892830,-0.833987,-2.762722,1.076228,0.153074,2.614250,3.248301,-2.514245,0.739178,...,0.425658,-0.249023,-0.181811,0.642463,-0.342454,-0.570671,-0.393798,0.166582,0.418358,-0.742303

In [ ]:
df_obs=df_obs.reset_index()

In [ ]:
newvalue=newvalue.join(df_obs)
newvalue

,pc0,pc1,pc2,pc3,pc4,pc5,pc6,pc7,pc8,pc9,...,pc497,pc498,pc499,level_0,index,condition,n_counts,n_genes,mt_frac,cell_type
0,-4.060926,-4.106551,-4.368974,2.699495,10.385949,-3.066653,3.190943,4.091165,0.119926,-2.718631,...,-0.006270,-0.246982,0.273575,0,AAACATACCAAGCT-1-stimulated,stimulated,1160.0,589,0.0,NK
1,1.355928,-4.655720,4.667211,6.156312,2.663843,-1.369125,3.887770,-6.009787,-2.361762,-1.588529,...,-1.731307,1.012306,0.297282,1,AAACATACCCCTAC-1-stimulated,stimulated,1729.0,795,0.0,Dendritic
2,-11.729312,-3.314318,-1.595046,-6.010673,-1.686719,-0.238836,0.093309,-2.806677,2.242280,-0.818826,...,-0.345193,0.596622,1.060355,2,AAACATACCCGTAA-1-stimulated,stimulated,1360.0,585,0.0,CD4T
3,-5.305335,-4.500135,7.790894,1.545393,-0.034541,-0.702565,5.535621,-3.337313,-4.705793,-0.298493,...,-0.085043,-0.496342,0.609925,3,AAACATACCCTCGT-1-stimulated,stimulated,1442.0,732,0.0,B
4,-11.909915,-3.892830,-0.833987,-2.762722,1.076228,0.153074,2.614250,3.248301,-2.514245,0.739178,...,0.166582,0.418358,-0.742303,4,AAACATACGAGGTG-1-stimulated,stimulated,1237.0,546,0.0,CD4T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16888,-11.570753,4.394973,-3.008917,-0.661044,5.024783,-2.727903,-4.919756,4.051498,0.656943,-1.261127,...,0.065421,0.558380,-0.097210,16888,TTTGACTGGCGGAA-1-control,control,2505.0,821,0.0,CD8T
16889,6.905796,13.933947,-0.931690,-3.349855,-0.226382,-3.460408,1.289271,-0.733325,-0.821243,0.084607,...,-0.078530,0.436714,-0.605425,16889,TTTGACTGTCGTAG-1-control,control,3704.0,1101,0.0,CD14+Mono
16890,12.585038,9.372916,-8.155963,0.458867,-0.554648,-1.129813,2.524048,0.252425,-2.346471,-2.030896,...,0.377324,0.055703,0.056376,16890,TTTGACTGTTACCT-1-control,control,2133.0,629,0.0,CD14+Mono
16891,-6.217057,5.684483,10.822812,1.615834,-0.178997,-5.485299,-1.054211,-1.202241,2.676480,0.901899,...,0.445321,0.256225,-0.859604,16891,TTTGCATGCTTCGC-1-control,control,2317.0,875,0.0,B
16892,-8.920465,5.054844,10.744681,4.202771,0.454622,-4.782313,-3.066264,0.545614,-1.512380,-0.404955,...,-0.130408,-0.076400,0.936896,16892,TTTGCATGGTCCTC-1-control,control,1250.0,531,0.0,B

In [ ]:
newvalue.shape

(16893, 506)

In [ ]:
newvalue.columns

Index(['pc0', 'pc1', 'pc2', 'pc3', 'pc4', 'pc5', 'pc6', 'pc7', 'pc8', 'pc9',
       ...
       'pc496', 'pc497', 'pc498', 'pc499', 'index', 'condition', 'n_counts',
       'n_genes', 'mt_frac', 'cell_type'],
      dtype='object', length=506)

In [ ]:
plotdata = newvalue.loc[:,newvalue.columns]

# 答えのラベルを追加
plotdata["label"] = newvalue['cell_type']

import seaborn as sns

# 図示
plt.figure(figsize=(25,16))
sns.scatterplot(data = plotdata, x= "pc0", y= "pc1", hue = "label")
plt.legend(labels = plotdata["label"].value_counts().index.to_list(),loc = 2, bbox_to_anchor = (1,1))
plt.xlabel("PC1")
plt.ylabel("PC2")

Text(0, 0.5, 'PC2')

ImportError: ignored

matplotlibのエラーが出てしまったので(scanpyを二回DLしたことでヴァージョンが異なっている？)、可視化のみローカルで行う

In [ ]:
newvalue.to_csv('newvalue_PCA.csv')

tsne

In [ ]:
from sklearn.manifold import TSNE
df_1_TSNE = TSNE(n_components=2, random_state=0).fit_transform(X_pca)

/usr/local/lib/python3.7/dist-packages/sklearn/manifold/_t_sne.py:783: FutureWarning: The default initialization in TSNE will change from 'random' to 'pca' in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/manifold/_t_sne.py:793: FutureWarning: The default learning rate in TSNE will change from 200.0 to 'auto' in 1.2.
  FutureWarning,

In [ ]:
newvalue = pd.DataFrame(df_1_TSNE)
newvalue=newvalue.join(df_obs)
newvalue

,0,1,level_0,index,condition,n_counts,n_genes,mt_frac,cell_type
0,-26.517485,-7.585939,0,AAACATACCAAGCT-1-stimulated,stimulated,1160.0,589,0.0,NK
1,41.678757,6.470484,1,AAACATACCCCTAC-1-stimulated,stimulated,1729.0,795,0.0,Dendritic
2,4.792215,-16.011726,2,AAACATACCCGTAA-1-stimulated,stimulated,1360.0,585,0.0,CD4T
3,30.575478,2.569920,3,AAACATACCCTCGT-1-stimulated,stimulated,1442.0,732,0.0,B
4,8.112715,-0.112671,4,AAACATACGAGGTG-1-stimulated,stimulated,1237.0,546,0.0,CD4T
...,...,...,...,...,...,...,...,...,...
16888,-17.083239,5.434220,16888,TTTGACTGGCGGAA-1-control,control,2505.0,821,0.0,CD8T
16889,-4.360902,38.542046,16889,TTTGACTGTCGTAG-1-control,control,3704.0,1101,0.0,CD14+Mono
16890,-5.176662,50.529995,16890,TTTGACTGTTACCT-1-control,control,2133.0,629,0.0,CD14+Mono
16891,26.394316,18.620146,16891,TTTGCATGCTTCGC-1-control,control,2317.0,875,0.0,B
16892,26.412859,16.652657,16892,TTTGCATGGTCCTC-1-control,control,1250.0,531,0.0,B

In [ ]:
newvalue.to_csv('newvalue_tsne.csv')

VAE

In [ ]:
newvalue=df_lognormalized.T
newvalue.join(df_obs)

,AL627309.1,RP11-206L10.9,LINC00115,NOC2L,KLHL17,HES4,ISG15,TNFRSF18,TNFRSF4,SDF4,...,COL6A2,DIP2A,S100B,level_0,index,condition,n_counts,n_genes,mt_frac,cell_type
0,0.0,0.0,0.0,0.0,0.0,0.0,5.942135,0.0,0.0,0.0,...,0.0,0.0,0.0,0,AAACATACCAAGCT-1-stimulated,stimulated,1160.0,589,0.0,NK
1,0.0,0.0,0.0,0.0,0.0,0.0,5.500860,0.0,0.0,0.0,...,0.0,0.0,0.0,1,AAACATACCCCTAC-1-stimulated,stimulated,1729.0,795,0.0,Dendritic
2,0.0,0.0,0.0,0.0,0.0,0.0,5.589742,0.0,0.0,0.0,...,0.0,0.0,0.0,2,AAACATACCCGTAA-1-stimulated,stimulated,1360.0,585,0.0,CD4T
3,0.0,0.0,0.0,0.0,0.0,0.0,5.525453,0.0,0.0,0.0,...,0.0,0.0,0.0,3,AAACATACCCTCGT-1-stimulated,stimulated,1442.0,732,0.0,B
4,0.0,0.0,0.0,0.0,0.0,0.0,5.658486,0.0,0.0,0.0,...,0.0,0.0,0.0,4,AAACATACGAGGTG-1-stimulated,stimulated,1237.0,546,0.0,CD4T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16888,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,16888,TTTGACTGGCGGAA-1-control,control,2505.0,821,0.0,CD8T
16889,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,16889,TTTGACTGTCGTAG-1-control,control,3704.0,1101,0.0,CD14+Mono
16890,0.0,0.0,0.0,0.0,0.0,0.0,4.799766,0.0,0.0,0.0,...,0.0,0.0,0.0,16890,TTTGACTGTTACCT-1-control,control,2133.0,629,0.0,CD14+Mono
16891,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,16891,TTTGCATGCTTCGC-1-control,control,2317.0,875,0.0,B
16892,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.0,0.0,0.0,16892,TTTGCATGGTCCTC-1-control,control,1250.0,531,0.0,B

ＶＡＳＣ　コード部分は論文のgithub

In [ ]:
newvalue.to_csv("seimei.txt", sep=",")
col=['cell_type','condition']
newvalue[col].to_csv("seimei_label.txt", sep=",")

In [ ]:
newvalue.to_csv('newvalue_ronbun.csv')

upload conf help vasc_dev

In [ ]:
import config

In [ ]:
from vasc_dev import vasc

In [ ]:
import numpy as np
from helpers import clustering,measure,print_2D
from config import config
from vasc_dev import vasc

In [ ]:
config={
    'epoch':10000,
    'batch_size':256,
    'latent':2,
    'log':False,
    'scale':True,
    'patience':50
}

In [ ]:
if __name__ == '__main__':
    DATASET = 'seimei' #sys.argv[1]
    PREFIX = 'seimei' #sys.argv[2]
    
    filename = DATASET+'.txt'
    data = open( filename )
    head = data.readline().rstrip(',').split(',')
    
    label_file = open( DATASET+'_label.txt' )
    label_dict = {}
    for line in label_file:
        temp = line.rstrip(',').split(',')
        label_dict[temp[0]] = temp[1]
    label_file.close()
    
    label = []
    for c in head:
        if c in label_dict.keys():
            label.append(label_dict[c])
        else:
            print(c)
    
    label_set = []
    for c in label:
        if c not in label_set:
            label_set.append(c)
    name_map = {value:idx for idx,value in enumerate(label_set)}
    id_map = {idx:value for idx,value in enumerate(label_set)}
    label = np.asarray( [ name_map[name] for name in label ] )
    
    expr = []
    for line in data:
        temp = line.rstrip().split()[1:]
        temp = [ float(x) for x in temp]
        expr.append( temp )
    
    expr = np.asarray(expr).T
    n_cell,_ = expr.shape
    if n_cell > 150:
        batch_size=config['batch_size']
    else:
        batch_size=32 

    for i in range(1):
        res = vasc( expr,var=False,
                    latent=config['latent'],
                    annealing=False,
                    batch_size=batch_size,
                    prefix=PREFIX,
                    label=label,
                    scale=config['scale'],
                    patience=config['patience'] 
                )

        k = len( np.unique(label) )
        cl,_ = clustering( res,k=k)
        dm = measure( cl,label )

In [ ]:
newvalue = pd.DataFrame(res)
newvalue=newvalue.join(df_obs)
newvalue

In [ ]:
newvalue.to_csv('newvalue_ronbun.csv')